<%- include header %>
<% posts.forEach(function (post, index) { %>
    <p>
        <h2>
            <a href="/p/<%= post._id %>"><%= post.title %></a>
        </h2>
    </p>
    <p class="info">
        <i class="icon iconfont"></i><a href="/u/<%= post.name %>"><%= post.name %></a>
        <i class="icon iconfont"></i><%= post.time.minute %>
        <% if (post.reprint_info.reprint_from) { %>
            <br>
            <a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
        <% } %>
    </p>
    <p><%- post.post %></p>
    <p class="info">
        <i class="icon iconfont"></i><%= post.pv %>
        <i class="icon iconfont"></i>
        <% if (post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
        <% } else { %>
        <%= 0 %>
    <% } %>
    <i class="icon iconfont"></i><% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
        <% } %>
    <% }) %>
</p>
<% }) %>
<%- include paging %>
<%- include footer %>
